.todos {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}
.todos:hover {
  filter: brightness(1.5);
  transition: all 300ms ease;
  cursor: pointer;
}
.todos__text {
  width: 100%;
  padding-left: 10px;
  height: 20px;
}
.todos__text h6 {
  color: rgb(165, 165, 165);
}
.todos__text:hover {
  color: rgb(73, 72, 72);
  cursor: pointer;
}
/* icons */
.line {
}
.line-through {
  color: rgb(73, 72, 72);
  text-decoration: line-through;
}
