.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.8);
}
.Modal .container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -25%);
  padding: 20px;
  border-radius: 5px;
  background-color: black;
}

/* Modal Buttons */
.cancel__button {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border-color: var(--red);
  width: 48%;
  color: var(--red);
  margin-right: 5px;
}
.cancel__button:hover {
  color: white;
  background-color: var(--red);
}
.add__button {
  margin-left: 5px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border-color: var(--green);
  width: 48%;
  color: var(--green);
}
.add__button:hover {
  color: white;
  background-color: var(--green);
}

.modal__input {
  margin-top: 10px;
  height: 30px;
  border-color: black;
  border-bottom-color: var(--gray);
}
