/* icons */
.profile__icon {
  margin-right: 10px;
  margin-left: -5px;
  border: 1px solid rgb(146, 146, 146);
  width: 50px !important;
  height: 50px !important;
}
.icon__title {
  margin-right: 5px;
}
.icon__title:hover {
  transition: all 300ms ease-in-out;
}

/*  */
.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding: 20px;
}
@media only screen and (max-width: 800px) {
  .Sidebar {
    width: 100%;
  }
}

.Sidebar__profile {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}
.Sidebar__profile section {
  display: flex;
  align-items: center;
}
.Sidebar__profile a {
  color: var(--red);
}
.Sidebar__profile a:hover {
  color: rgb(255, 62, 62);
}
/* 2nd section Sidebar time */
.Sidebar__header {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.Sidebar__days {
  width: 100%;
  padding: 10px;
}
.Sidebar__day {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}
.sidebar__todonums {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/* AddProject  */
.addproject__modal {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-bottom: 10px;
}

/* Project page */
.edit__icon {
  cursor: pointer;
  margin-right: 10px;
}
.edit__icon:hover {
  color: var(--green);
}
.delete__icon:hover {
  cursor: pointer;

  color: var(--red);
}
