@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;

  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  --gray: rgb(31, 31, 31);
  --red: rgb(251, 83, 83);
  --blue: rgb(98, 98, 255);
  --green: rgb(68, 255, 68);
}
.App {
  color: whitesmoke;
  background-color: black;
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
}
hr {
  width: 100%;
  border-color: var(--gray);
}

/* Styling the scroll bar */
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: black;

  /* background: #1e1e24; */
}
body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--gray);
}

/* Media query */
@media only screen and (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: auto;
    min-height: 100%;
  }
}

.icon {
  margin: 0 5px 0px 0;
  /* FOr hovering over icons */
  cursor: pointer;
}

button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
}

input {
  color: white;
  background-color: transparent;
  border-color: transparent;
}
