* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: black;
  color: white;
  --gray: rgb(31, 31, 31);
}
.App {
  padding: 20px;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
}
hr {
  width: 100%;
  border-color: var(--gray);
}
/* Media query */
/* 768px mai  */
@media only screen and (max-width: 770px) {
  .App {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
  }
}
