* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: black;

  --gray: rgb(31, 31, 31);
  --red: rgb(251, 83, 83);
  --blue: rgb(98, 98, 255);
  --green: rgb(68, 255, 68);
}
.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
}
hr {
  width: 100%;
  border-color: var(--gray);
}
/* Media query */
@media only screen and (max-width: 770px) {
  .App {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}

.icon {
  margin: 0 5px 0px 0;
  /* FOr hovering over icons */
  cursor: pointer;
  /* border-radius: 50%; */
  /* background-color: var(--gray); */
}
.icon:hover {
  /* font-size: larger; */
  background-color: rgb(122, 122, 122);
}

button {
  cursor: pointer;
}
